<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/CSS/SignUp.css" />
</head>
<body>
    <div class="SignUpDiv">
        <h1>SignUp</h1>
        <form class="SignUpForm" id="SignUpForm">
            <input class="InputSignUp" id="InputUsername" type="text" placeholder="Enter your Username: " required />
            <input class="InputSignUp" id="InputEmail" type="text" placeholder="Enter your Email: " required />
            <input class="InputSignUp" id="InputPassword" type="password" placeholder="Enter your Password: " required />
            <input class="InputSignUp" id="InputCMPassword" type="password" placeholder="Confirm your Password: " required>
            <div class="ButtonDiv">
                <button class="Button" id="SignUpButton" type="button"> SignUp</button>
            </div>
        </form>

        <a href="/templates/Login.html" id="ButtonAccount">Already have an Account?</a>

        <script src="/TS/SignUp.js"></script>
    </div>

</body>
</html>